.page {
    background-color: #FEF4FF;
}

.btn-messanger {
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    --bs-btn-color: #fff;
    --bs-btn-bg: #3980FF;
    --bs-btn-border-color: #3980FF;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0d6efd;
    --bs-btn-hover-border-color: #0d6efd;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d6efd;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.service-card {
    max-width: 410px;
    min-height: 336px;
}